
h1 {
    padding: 4.5% 10% 1% 22%;
    text-align:center;
    border-bottom: 5px solid #a42321;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #ff6a00;
    background-color: #303030;
    justify-content: center;
    position: sticky;
    z-index: 180;
    margin: 0;
	padding: 0;
}

/*303030*/

